*{
    padding:0;
    margin:0;
    background-color:white;

}

h1,footer{
    text-align:center;
    background-color: lightskyblue;
    padding:20px;
    
}



#content{
    background-color: blanchedalmond;
    padding:20px;
    


}
#section{
    border-radius:10%;
    padding:20px;
}

img{
    height:182px;
    width:193px;

}
#about{
    padding:20px;
    border: dotted 4px black;
}

#Achievements{
    padding:20px;
    border:dotted 4px black;
    


}

